<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harry Potter</title>
</head>
<body>
<h1>Harry Potter</h1>
<hr>
<img src="https://i.pinimg.com/736x/7d/de/6e/7dde6e2fcc56e9a4f173aec6b7de3c79.jpg">
<hr>
<a href="https://ru.wikipedia.org/wiki/Гарри_Поттер_(серия_фильмов)">Hi, my name is Harry Potter and this is my
    page!</a>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi ex, convallis sit amet posuere a, hendrerit vel
    nisl. Pellentesque ipsum erat, mattis scelerisque est eget, lacinia porttitor purus. Nam nec erat neque. Etiam sed
    sapien vitae arcu cursus facilisis. Ut sed metus in libero tincidunt aliquet. Orci varius natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Fusce tempus non nunc et mattis. Maecenas quis mi nec turpis
    fringilla molestie. Integer eleifend, mauris sit amet efficitur commodo, nulla ipsum luctus lectus, et efficitur
    purus velit in turpis. Sed aliquam, dui in scelerisque eleifend, urna tortor finibus risus, eget bibendum neque arcu
    ac ipsum. Vivamus mattis maximus congue. Etiam id placerat magna. Proin mauris odio, facilisis sit amet egestas non,
    tincidunt non urna. Quisque sit amet ante tincidunt, ornare est id, fringilla tortor.
</p>
<p>
    Vestibulum est odio, elementum ac pretium in, feugiat ut libero. Aliquam sed ligula scelerisque, condimentum metus
    vehicula, gravida erat. Mauris semper magna id nisi lacinia, a porta massa tincidunt. Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia curae; Aenean dignissim nibh vel neque ultricies ornare non eu
    sapien. Maecenas eleifend sodales odio a gravida. Aliquam interdum nulla et faucibus pretium. Mauris justo sem,
    semper sit amet urna id, gravida eleifend arcu. Praesent imperdiet sed odio ut elementum. Donec ut metus justo.
    Aliquam erat volutpat. Mauris in iaculis metus.
</p>
<p>
    Aliquam erat volutpat. Nam ultricies massa eget dolor commodo volutpat. Nullam ac velit ac augue pretium suscipit a
    quis odio. Quisque eu venenatis nulla. Suspendisse nec vestibulum felis. Suspendisse eu suscipit ipsum. Proin
    facilisis nisl id sem lacinia, a mollis eros ullamcorper. Maecenas sit amet neque tortor. Sed tempor sed odio vitae
    tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In et odio
    at metus tempor pellentesque.
</p></div>
</body>
</html>